<div class="app-shell">
  <p-toolbar>
    <ng-template pTemplate="start">
      <a routerLink="/" style="text-decoration: none; font-weight: 600;">Swarmbot</a>
    </ng-template>

    <ng-template pTemplate="end">
      <a *ngIf="auth.isAuthed()" routerLink="/services" style="margin-right: .5rem;">Services</a>
      <a *ngIf="auth.isAuthed()" routerLink="/nodes" style="margin-right: 1rem;">Nodes</a>

      <button *ngIf="auth.isAuthed()" pButton type="button" (click)="logout()">
        <span pButtonLabel>Logout</span>
      </button>

      <a *ngIf="!auth.isAuthed()" routerLink="/login">Login</a>
    </ng-template>
  </p-toolbar>

  <main class="app-main">
    <router-outlet />
  </main>
</div>
